/*--------------------------MENU RODATETO -------------------------------*/
/*
<header class="pagina-inicial cabecalho-principal">
nesse caso há duas classe de uma mesma tag, ideal para bordar dois aspectos de uma mesma tag
*/
/*--------------------------- HOMEMENU ---------------------------------*/

.homemenu {
	background-color: #FE9A2E;
	color: #F2FFFC;
	text-align: center;
}

.homenavegador a{
	color: #F2FFFC;
	text-decoration: none;
	margin: 10px;
}
.homenavegador h1{
	font-size: 25px;
	margin-bottom: 20px;
}

.homemenu a {
    color: inherit; /* usa a cor da tag pai, nesse caso será da MAIN */
    font-family: "Open Sans Condensed", sans-serif;
}

.homeicones_sociais li{
	display: inline-block;
	margin-top: 20px;
}
.homeicones_sociais a{
	width: 40px;
	height: 40px;
	display: inline-block; /*display: inline-block;  display server para definir posicionamento referente a tags*/
	text-indent: -9999px; /* cuida do recuo do texto (-Npx = recuo regativo) */
}
.github {
	background-image: url(github.png);
}
.linkedin {
	background-image: url(linkedin.png);
}

/*
. = seletor de class
#icones_sociais li{
ID é mais especifico que class
# = seleciona o id  
	display: inline-block;  display server para definir posicionamento referente a tags
			 inline-block permite mudar altura e largura de elementos inline
	margin-top: 20px;
} */

/*----------------------HOMEMENU - posicionamento ------------------------------*/

.homemenu, .foto_perfil {
	float: right;
	width: 15%;
	box-sizing: border-box;
}
.homepage {
	float: left;
	width: 85%;
}
.homerodape {
	clear: both;
}

/*============================ BLOGMENU =======================================*/

.blogmenu {
	background-color: #FE9A2E;
	color: #F2FFFC;
	text-align: center;
}

nav a {
	color: #F2FFFC;
	text-decoration: none;
	margin: 10px;
}
nav h1{
	font-size: 25px;
}

.blogmenu a {
    color: inherit; /* usa a cor da tag pai, nesse caso será da MAIN */
    font-family: "Open Sans Condensed", sans-serif;
}

.blognavegador ul {
	margin-top: 20px;
}
.blogicones_sociais li{
/* . = seletor de class */
	display: inline-block;
	margin-top: 20px;
}

/* ------------------------ RODAPÉ ------------------------------------*/

.homerodape {
	background-color: rgb(0, 0, 0);
	color: white;
}

.blogrodape {
	background-color: rgb(0, 0, 0);
	color: white;
}
.rodape_artigo {
	background-color: #FE9A2E;
	height: 40px;
	padding-top: 20px;
}