aside {
	background-color: #FE9A2E;
	color: #F2FFFC;
	text-align: center;
}

nav a {
	color: #F2FFFC;
	text-decoration: none;
	margin: 10px;
}
nav h1{
	font-size: 25px;
}

aside a {
    color: inherit; /* usa a cor da tag pai, nesse caso será da MAIN */
    font-family: "Open Sans Condensed", sans-serif;
}

footer {
	background-color: rgb(0, 0, 0);
	color: white;
}