body {
	font-size: 120%;
	background-color: rgb(150,150,220);
}
h1 {
	
	font-size: 60px;
	
	background-color: rgb(120,80,200); /* cor definida por decimal (r[red],g[green],b[blue])*/
	
	color: #fafffa; /* cor definida por cÃ³digo hexadecimal segundo W3C*/
	
	text-align: center;
	
	font-family: "Times New Roman", serif;

}

h2 {
	
	font-size: 30px;
	
	font-family: "Times New Roman", serif;

}

p {
	
	font-size: 15px;
	
	font-family: "Arial", sans-serif; 
	
	text-align: justify;

}
