/*--------------- Corpo -----------------------------*/

body {
	font-size: 120%;
	background-color: rgb(255,255,255);
}
/* ---------------------- HOME -------------------------- */

.homepage a {
    color: #851944;
}

.homepage p{
	line-height: 1.5; /* alinhamento entre linhas (1.5 do px da fonte)*/
}

p a{
	text-decoration: none
}

.homepage h1 {
/* espaço = dentro */	
	font-size: 60px;
	background-color: #FF8000; /* cor definida por decimal (r[red],g[green],b[blue])*/	
	color: #fafffa; /* cor definida por cÃ³digo hexadecimal segundo W3C*/	
	text-align: center;	
	font-family: "Times New Roman", serif;
	padding: 20px;
	margin: 0;
	border-bottom: 10px solid black;
}

	/*

A propriedade margin controla o espaço entre elementos.

A propriedade padding controla o espaço entre o conteúdo de um elemento e sua borda.

As propriedades width e height controlam apenas o tamanho de um elemento, e não afetam o espaçamento entre esse elemento e seus vizinhos. Já a propriedade box-sizing controla apenas como a largura e a altura de um elemento deve ser calculada.

Por fim, a propriedade line-height controla apenas a altura entre as linhas de texto da página, não afetando a distância entre elementos.

*/

.homepage div {
	width: 720px; /* define o espaço onde estaram os elementos*/
	margin-left: auto; /* centralizando os elementos */
	margin-right: auto;
}

h2 {
	font-size: 30px;
	font-family: "Times New Roman", serif;
	line-height: 2;
}

p {
	font-size: 15px;
	font-family: "Arial", sans-serif; 
	text-align: justify;
	margin: 20px;
}

/*=========================== BLOG ==========================================*/

.blogpage a {
    color: rgb(0,0,0);
}
.blogpage p{
	line-height: 1.5; /* alinhamento entre linhas (1.5 do px da fonte)*/
}
p a{
	text-decoration: none;
}
article a{
	text-decoration: none;
}

.blogpage h1 {
	font-size: 60px;
	background-color: #FF8000; 
	color: #fafffa; 
	text-align: center;	
	font-family: "Times New Roman", serif;
	padding: 20px;
	margin: 0;
	border-bottom: 10px solid black;
}

.blogpage div {
	width: 720px; /* define o espaço onde estaram os elementos*/
	margin-left: auto; /* centralizando os elementos */
	margin-right: auto;
}

h2 {
	font-size: 30px;
	font-family: "Times New Roman", serif;
	line-height: 2;
}

p {
	font-size: 15px;
	font-family: "Arial", sans-serif; 
	text-align: justify;
	margin: 20px;
}

/* -------------------------------- HOME--------------------------------------- */

.homepage_cite {
	background-color: #D9E5E3;
	padding: 16px; /*controla o espaço interno do elemento*/
	border: 10px solid #C2CCCA;	/* controla o contorno do elemento: tamanho, tipo de linha e cor*/ 
	border-bottom-color: #333;
	border-right-color: #FFF;
	width: 250px; /* por padrão, isso se referi ao conteúdo */
	box-sizing: border-box; /* especifica ao que o tamanho width esta se referindo*/
	margin: 0; /* controla o espaço externo do elemento, margem do navegador*/
}